* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(255, 219, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.todos-container {
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
    overflow-y: scroll;
}

.todos-container::-webkit-scrollbar {
    display: none;
}

.todo {
    background: rgb(214, 112, 214);
    color: #fff;
    width: 96%;
    padding-block: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-checkbox {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.check-mark {
    border: solid #fff;
    border-top: none;
    border-left: none;
    border-width: 3px;
    width: 7px;
    height: 15px;
    transform: rotate(35deg);
}

.todo-checked {
    background: rgb(0, 153, 255);
}

/* form */
form {
    width: 500px;
}

form .new-task {
    display: flex;
    border: 2px solid transparent;
}

form .new-task:focus-within {
    outline: 3px solid rgb(214, 112, 214);
    border-radius: 10px;
}

form .no-task-error {
    text-align: center;
    margin-top: 2px;
}

.hidden {
    visibility: hidden;
}

.visible {
    animation: fade-in 0.2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form input,
form button {
    height: 45px;
}

input.new-task-text {
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    width: 90%;
    font-size: 1.2em;
    outline: none;
}

form button {
    border: none;
    color: #fff;
    background: rgb(214, 112, 214);
    position: relative;
    font-size: 1.2em;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
