* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(255, 219, 119);
    display: grid;
    place-content: center;
}

.todos-container {
    width: 500px;
    min-height: 500px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.todo {
    background: rgb(214, 112, 214);
    color: #fff;
    width: 96%;
    padding-block: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-checkbox {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.check-mark {
    border: solid #fff;
    border-top: none;
    border-left: none;
    border-width: 3px;
    width: 7px;
    height: 15px;
    transform: rotate(35deg);
}

.todo-checked {
    background: rgb(0, 153, 255);
}
