* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(255, 219, 119);
    display: grid;
    place-content: center;
}

.todos-container {
    width: 400px;
    min-height: 500px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.todo {
    background: rgb(214, 112, 214);
    color: #fff;
    width: 96%;
    padding-block: 15px;
    padding-left: 15px;
    font-size: 1.1em;
    border-radius: 5px;
}
